<aside class="w-64 bg-gray-800 text-white h-screen fixed">
  <div class="p-4">
    <h2 class="text-xl font-bold">Menu</h2>
  </div>
  <ul>
    <li class="p-2 hover:bg-gray-700">
      <a href="/" class="block">Dashboard</a>
    </li>
    <li class="p-2 hover:bg-gray-700">
      <a href="/add" class="block">Add Station</a>
    </li>
    <li class="p-2 hover:bg-gray-700">
      <a href="/user" class="block">User</a>
    </li>
    <li class="p-2 hover:bg-gray-700">
      <a href="/about" class="block">About</a>
    </li>
  </ul>
</aside>
