<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <aside class="w-64 bg-gray-800 text-white h-screen fixed">
    <div class="p-2 ">
      <h2 class="text-xl font-bold">ADMIN</h2>
    </div>
    <ul>
      <li class="p-2 hover:bg-gray-700">
        <a href="/" class="block">Dashboard</a>
      </li>
      <li class="p-2 hover:bg-gray-700">
        <a href="/add" class="block">Add Station</a>
      </li>
      <li class="p-2 hover:bg-gray-700">
        <a href="/user" class="block">User</a>
      </li>
      <li class="p-2 hover:bg-gray-700">
        <a href="/about" class="block">About</a>
      </li>
    </ul>
  </aside>
  
</body>
</html>