body {
  font-family: Arial, sans-serif;
}
main {
  min-height: calc(100vh - 64px - 64px); /* Trừ chiều cao header và footer */
}
table {
  border-collapse: collapse;
}

.alert {
  margin: 10px 0;
  border-radius: 5px;
}
.alert-success {
  background-color: #d4edda;
  color: #155724;
}
.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}
